html, body {
    text-align: center;
    background-color: #21232A;
    color: white;
    font-family:sans-serif;
    font-size: 1.3rem;
    padding: 30px;
}

button{
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

h2{
    text-align: center;
}